:root {
    --disabled: #747572;
    --font: #FCF7FF;
    --links: #F4E87C;
    --header: #C0DA74;
    --background: #000000;
}

[data-theme="light"] {
    --disabled: #05444b;
    --font: #0caac9;
    --links: #E54F6D;
    --header: #171D1C;
    --background: #d1f6f2;
}

body, button {
    background: var(--background);
    font-family: "Source Code Pro", fantasy;
}

/*Titel*/
header {
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
    color: var(--header);
}

/*Navigation*/
.navList:hover:not([disabled]) {
    font-weight: bold;
    border: 2px solid var(--font);
}

.navList:disabled {
    color: var(--disabled);
}

.navList {
    color: var(--font);
    font-weight: bold;
    border: 2px solid var(--disabled);
    border-radius: 15px;
}

/*Content*/
#grid-wrapper {
    color: var(--font);
}

#twitch-embed {
    border: 2px solid var(--disabled);
    border-radius: 15px;
}

.template-entry {
    border: 2px solid var(--disabled);
    border-radius: 15px;
}

.template-entry:hover {
    border: 2px solid var(--font);
}

.repo {
    color: var(--font);
    border: 2px solid var(--disabled);
    border-radius: 15px;
}

/*Footer*/

a {
    color: var(--links);
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}