* {
    background: black;
    font-family: "Source Code Pro", fantasy;
}


/*Titel*/
header {
    font-size: xx-large;
    font-weight: bold;

    color: #C0DA74;


}

/*Navigation*/
.navList:disabled:hover, .navList:disabled {
    color: #747572;

    border: 2px solid #747572;
}

.navList:hover {
    font-weight: bold;

    border: 2px solid #FCF7FF;
    border-radius: 15px;
}

.navList {
    color: #fcf7ff;
    font-weight: bold;

    border: 2px solid #747572;
    border-radius: 15px;
}

/*Content*/
#content {
}

/*Footer*/
footer a {
    color: #F4E87C;
    text-decoration: none;

    position: sticky;
    bottom: 0;
    padding: 1em;
}


a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}