* {
    margin: 0;
    padding: 0;
}

/*Titel*/
#title {
    text-align: center;
}

/*Navigation*/
#navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navList {
    line-height: 50px;
    width: 200px;

    text-align: center;

    margin: 0 10px 0 10px;
}

/*Footer*/
footer {
    height: 50px;
    line-height: 50px;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: marker;
    bottom: 0;
}