name: Deploy Angular App

on:
    push:
        branches:
            - master

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v5

            -   name: Setup Node.js
                uses: actions/setup-node@v6
                with:
                    cache: 'npm'

            -   name: Install dependencies
                run: npm ci

            -   name: Install Angular CLI
                run: npm install -g @angular/cli

            -   name: Build Angular app
                run: ng build --configuration production --output-path=dist

            -   name: Deploy to Staging server
                uses: easingthemes/ssh-deploy@v5.1.0
                with:
                    SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
                    ARGS: "-rlgoDzvc -i"
                    SOURCE: "dist/"
                    REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
                    REMOTE_USER: ${{ secrets.REMOTE_USER }}
                    TARGET: ${{ secrets.REMOTE_TARGET }}
                    EXCLUDE: "/dist/, /node_modules/"
                    SCRIPT_BEFORE: |
                        if [ -d "${{ secrets.REMOTE_TARGET }}/dist" ]; then
                          mv ${{ secrets.REMOTE_TARGET }}/dist ${{ secrets.REMOTE_TARGET }}/dist_backup_$(date +%Y%m%d%H%M%S)
                          echo "Backup of old dist folder created"
                        fi
                    SCRIPT_AFTER: |
                        sudo systemctl reload nginx
                        echo "Nginx reloaded"

